.course-card {
    width: 450px;
    height: 480px;
    padding: 15px;
    border: 1px solid #e04700;
    border-radius: 10px;
    margin: 10px;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.course-info {
    background-color: rgba(255, 81, 0, 0.6); /* Fondo semitransparente */
    padding: 10px;
    height: 450px;
}
.course-name {
    font-size: 18px;
    font-weight: bold;
}
.course-duration, .course-requirements {
    font-size: 14px;
    
}
.courses-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}