.gridContainer {
    display: grid;
    grid-template-columns: 70px 80px;
    grid-template-rows: 70px 80px;
    grid-template-areas: 
    "imgLogo navBar navBar navBar navBar"
    "sideBar main   main   main   aside"
    "sideBar main   main   main   aside"
    "sideBar main   main   main   aside"
    "footer  footer footer footer footer";

}