* { 
    background-color: rgb(175, 155, 131);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//------------------(IMPORTS)-------------------

@import "sass_styles/coursesStyles";
@import "sass_styles/wikiStyles";
@import "sass_styles/routinesStyles";
@import "sass_styles/cardsStyles";







//----------------(GENERAL STYLES)---------------

#mainContent{
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
    .mainBtn {
        width: 25vw;
        height: 10vw;
        border: none;
        border-radius: 15%;
        background-color: rgba(255, 255, 255, 0.651);
    }
}

