@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.sideBar {
  background-color: #fb8500;
  display: flex;
  justify-content: space-around;
  width: 70px;
  grid-area: sideBar;
  transition: transform 0.3s ease;
  transform: translateX(0);
}
.sideBar.collapsed {
  transform: translateX(-100%);
}
.sideBar .sideBar-ul {
  background-color: #fb8500;
  width: 70px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.sideBar .sideBar-ul.collapsed {
  width: 0;
}
.sideBar .sideBar-ul img {
  display: flex;
  width: 35px;
  height: 35px;
  transition: width 0.3s ease-in, height 0.3s ease-out;
  /* Al colapsar la sidebar, reduce las imágenes a un tamaño adecuado */
}
.sideBar .sideBar-ul img:hover {
  width: 45px;
  height: 45px;
}
.sideBar.collapsed .sideBar .sideBar-ul img {
  width: 0;
  height: 0;
  opacity: 0; /* Para hacerlas invisibles al colapsar */
}

.toggle-btn {
  background-color: #fc8f00;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 90px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in;
}

.toggle-btn:hover {
  background-color: #000;
}

.navBar {
  background-color: #fb8500;
  display: flex;
  width: 100%;
  justify-content: end;
  grid-area: navBar;
}

.navBar nav {
  background-color: rgba(13, 27, 42, 0);
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 40px;
  margin-top: 0px;
  margin-left: 50%;
}
.navBar nav ul {
  background-color: rgba(13, 27, 42, 0);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-right: 0;
}
.navBar nav li {
  display: flex;
  flex-direction: row;
  width: 90px;
  height: 25px;
  justify-content: center; /* Centra el texto horizontalmente */
  align-items: center; /* Centra el texto verticalmente */
  background-color: rgb(255, 136, 0);
  border-radius: 12px;
  color: #ffffff;
  padding: 20px 5px;
  transition: background-color 0.3s ease, color 0.2s ease-in, width 0.3s ease-in;
}
.navBar nav li:hover {
  background-color: #000000; /* Negro */
  color: #ffffff; /* Letras blancas */
  width: 100px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 70px 80px;
  grid-template-rows: 70px 80px;
  grid-template-areas: "imgLogo navBar navBar navBar navBar" "sideBar main   main   main   aside" "sideBar main   main   main   aside" "sideBar main   main   main   aside" "sideBar  footer footer footer footer";
}

.course-card {
  width: 450px;
  height: 480px;
  padding: 15px;
  border: 1px solid #e04700;
  border-radius: 10px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.course-info {
  background-color: rgba(255, 81, 0, 0.6); /* Fondo semitransparente */
  padding: 10px;
  height: 450px;
}

.course-name {
  font-size: 18px;
  font-weight: bold;
}

.course-duration, .course-requirements {
  font-size: 14px;
}

.courses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.imgLogo {
  width: 15%;
}

.logo {
  display: flex;
  width: 70px;
  height: 70px;
}

.imgLogo {
  grid-area: imgLogo;
}

.main {
  display: flex;
  background-color: #ffb703;
  grid-area: main;
  padding-right: 35px;
  height: 100%;
  width: 100%;
  transition: margin-left 0.3s ease;
}
.main.collapsed {
  margin-left: -70px;
}

.aside {
  display: flex;
  background-color: #ffb703;
  width: 100%;
  padding-right: 70px;
  grid-area: aside;
  transition: margin-left 0.3s ease, margin-right 0.3s ease-in;
}
.aside.collapsed {
  margin-left: -70px;
  margin-right: 70px;
}

.footer {
  background-color: #14213d;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 70px;
  width: 100%;
  grid-area: footer;
  transition: margin-left 0.3s ease;
}
.footer.collapsed {
  margin-left: -70px;
}/*# sourceMappingURL=generalStyles.css.map */